[submodule "3rd/z80"]
	path = 3rd/Z80
	url = https://github.com/redcode/Z80
[submodule "3rd/zeta"]
	path = 3rd/Zeta
	url = https://github.com/redcode/Zeta
[submodule "3rd/argparse"]
	path = 3rd/argparse
	url = https://github.com/p-ranav/argparse
[submodule "3rd/raylib"]
	path = 3rd/raylib
	url = https://github.com/raysan5/raylib
